<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Manage</title>
        <link rel="stylesheet" href="/style.css">
        <style>
            h1 {
            	color: blue;
            	text-align:center;
            }
            .button {
  		background-color: #008CBA;
  		border: none;
  		color: white;
  		padding: 15px 32px;
  		text-align: center;
  		text-decoration: none;
  		display: inline-block;
  		font-size: 16px;
	    }
	    .center {
  		margin-left: auto;
  		margin-right: auto;
	    }
        </style>
        <script>
            console.log(document.body);
        </script>
    </head>
    <body>
        <h1>Hi! <%= username %></h1>
        <table class="center">
            <td>
            <form action="/manage/insert" method="get">
                <button type="submit" class="button">Insert</button>
            </form>
            </td>
            <td>
            <form action="/manage/search" method="get">	
                <button type="submit" class="button">Search</button>
            </form>
            </td>
            <td>
            <form action="/delete" method="get">
                <button type="submit" class="button">Delete</button>
            </form>
            </td>
            <td>
            <form action="/update" method="get">
                <button type="submit" class="button">Update</button>
            </form>
            </td>
            <td>
            <form action="/logout" method="post">
                <button type="submit" class="button">Log out</button>
            </form>
            </td>
        </table>
        <h1>Your items are listed here:</h1>
        <ol>
            <% for (let item of items) { %>
                <li>
                    <p id="name">Name: <%= item.name %></p>
                    Type: <%= item.type %><br>
                    Quantity: <%= item.quantity %><br>
                    Address: <%= item.address %><br>
                </li>
                <hr>
            <% } %>
        </ol> 
    </body>
</html>
