<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Manage</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <h2 style="text-align: center;">Hi! <%= username %></h2>
        <div class="btns">
            <form action="/manage/insert" method="get" class="button">
                <button type="submit">Insert</button>
            </form>
            <form action="/manage/search" method="get">
                <input type="text" name="search">
                <button type="submit">Search</button>
            </form>
            <form action="/logout" method="post">
                <button type="submit">Log out</button>
            </form>
        </div>
        <ol>
            <% for (let i = 0; i < items.length; i++) { %>
                <li>
                    <input type="checkbox"><br>
                    <p id="name">Name: <%= items[i].name %></p>
                    <p id="type">Type: <%= items[i].type %></p>
                    <p id="qty">Quantity: <%= items[i].quantity %></p>
                    <p id="address">Address: <%= items[i].address %></p>
                    <form action="/update" method="get">
                        <button name="<%= i %>" type="submit" style="padding: 0;">Update</button>
                    </form>
                    <form action="/delete" method="get">
                        <button type="submit" style="padding: 0;">Delete</button>
                    </form>
                </li>
                <hr>
            <% } %>
        </ol>
    </body>
</html>
