<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Manage</title>
        <link rel="stylesheet" href="/style.css">
        <script>
            console.log(document.body);
        </script>
    </head>
    <body>
        <h2>Hi! <%= username %></h2>
        <div class="btns">
            <form action="/manage/insert" method="get" class="button">
                <button type="submit">Insert</button>
            </form>
            <form action="/manage/delete" method="post">
                <button type="submit">Delete</button>
            </form>
            <form action="/search" method="get">
                <input type="text" name="search">
                <button type="submit">Search</button>
            </form>
            <form action="/logout" method="get">
                <button type="submit">Log out</button>
            </form>
        </div>
        <ol>
            <% for (let item of items) { %>
                <li>
                    <input type="checkbox"><br>
                    <p id="name">Name: <%= item.name %></p>
                    Type: <%= item.type %><br>
                    Quantity: <%= item.quantity %><br>
                    Address: <%= item.address %><br>
                    <form action="/manage/update" method="get">
                        <button type="submit" style="padding: 0;">Update</button>
                    </form>
                    <form action="/delete" method="get">
                        <button type="submit" style="padding: 0;">Delete</button>
                    </form>
                </li>
                <hr>
            <% } %>
        </ol> 
    </body>
</html>
